<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="JsonFile" />
      <appender-ref ref="Console" />
      <appender-ref ref="File" />
    </root>
    <appender name="Console" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <forecolor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <forecolor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="red" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <forecolor value="Blue" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%method (%file:%line) - Message: %message %exception%newline" />
      </layout>
    </appender>
    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file value="SysCredit.Api.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="25MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%method (%file:%line) - Message: %message %exception%newline" />
      </layout>
    </appender>
    <appender name="JsonFile" type="log4net.Appender.FileAppender">
      <file value="SysCredit.Api.Json.log" />
      <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
        <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
        <default />
      </layout>
    </appender>
  </log4net>
</configuration>
